<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[[TITLE]]</title>
  <meta name="description" content="[[META_DESC]]">
  <link rel="canonical" href="[[META_URL]]">
  <meta property="og:type" content="[[META_TYPE]]">
  <meta property="og:title" content="[[TITLE]]">
  <meta property="og:description" content="[[META_DESC]]">
  <meta property="og:url" content="[[META_URL]]">
  <meta property="og:site_name" content="[[SITE_TITLE]]">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/pygments.css">
  <link rel="alternate" type="application/rss+xml" title="[[SITE_TITLE]]" href="/feed.xml">
</head>
<body>
  <header>
    <div class="flex-apart">
      <div class="site-title"><a href="/">[[SITE_TITLE]]</a></div>
      <p class="desc">[[SITE_DESC]]</p>
    </div>
    <nav>
      [[NAV]]
    </nav>
  </header>
  <main>
    [[CONTENT]]
  </main>
  <footer>
    no tracking &nbsp;/&nbsp; no javascript &nbsp;/&nbsp; no newsletter &nbsp;/&nbsp; <a href="/feed.xml">rss</a> or nothing
  </footer>
</body>
</html>
